/* Base Styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Merriweather', serif;
	font-size: 13px;
}

.bell {
	margin: 1em auto;
	width: 20px;
}

.nav-img {
	margin: 1em auto;
	width: 5%;
}

.social-image {
	margin: 1em auto;
	width: 7%;
}

/* Mobile First Approach */
.grid-container {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	grid-template-areas:
		"header"
		"nav"
		"main";
}

header {
	grid-area: header;
	height: 70px;
	display: flex;
	justify-items: center;
	background-color: #9999e6;
	/* grid-column: 1 / -1; */
}

.header-right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

nav {
	grid-area: nav;
	background-color: #6f6fdc;
	/* grid-row: 2 / 8; */
}


main {
	grid-area: main;
	/* grid-row: 2 / 8; */
}

.main-header {
	background-color: rgb(247, 247, 247);
	height: 60px;
	/* width: 1650px; */
	border-bottom: 2px solid lightgray;
}

.headline {
	float: left;
	background-color: white;
	height: 60px;
	text-align: center;
	padding: 15px 12px;
	font-size: 18px;
	border-right: 2px solid lightgray;
	font-family: 'Merriweather', sans-serif;
}

.traffic-nav {
	text-align: center;
	font-family: 'Merriweather', serif;
}

.traffic-nav li {
	display: inline;
	padding-left: 1em;

}

.flex-headr {
	display: flex;
	height: 60px;
	justify-content: space-between;
	align-items: center;
	flex: 1;
}

.flex-headr img {
	height: 40px;
	padding-left: 10px;
	position: relative;
	border-radius: 60%;

}

.flex-headr h3 {
	padding-left: 5px;

}


/* Media Queries for Tablets */

@media (min-width: 768px) {
	.grid-container {
		grid-template-columns: 55px 1fr;
		grid-template-areas:
			"header header"
			"nav main";
	}

	main {
		display: grid;
		grid-template-columns: 50%;
	}

	.traffic,
	.social {
		grid-column: 1 / span 2;
	}

	.daily,
	.members,
	.message {
		grid-column: 1 / span 1;
	}

	.mobile,
	.activity,
	.settings {
		grid-column: 2 / span 1;
	}

	.widget-container-full {
		width: 90vw;
	}

	.widget-container-half {
		width: 45vw;
	}

	.nav-img {
		margin: 1em auto;
		width: 50%;
	}

	.social-image {
		margin: 1em auto;
		width: 7%;
	}

	.main-header {
		background-color: rgb(247, 247, 247);
		height: 60px;
		border-bottom: 2px solid lightgray;
	}
}