/* Base Styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Merriweather', serif;
	font-size: 13px;
}

.bell {
	margin: 1em auto;
	width: 5%;
}

.nav-img {
	margin: 1em auto;
	width: 5%;
}

.social-image {
	margin: 1em auto;
	width: 7%;
}

/* Mobile First Approach */
.grid-container {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	grid-template-areas:
		"header"
		"nav"
		"main";

}

header {
	grid-area: header;
	height: 70px;
	display: flex;
	justify-items: flex-end;
	/* grid-column: 1 / -1; */
}

nav {
	grid-area: nav;
	/* grid-row: 2 / 8; */
}

main {
	grid-area: main;
	/* grid-row: 2 / 8; */
}

.flex-headr {
	display: flex;
	height: 60px;
	align-items: center;
	flex: 1;
}

.flex-headr img {
	height: 30px;
	padding-left: 10px;
	justify-items: center;

}

.flex-headr svg {
	height: 24px;
	position:
}


/* Media Queries for Tablets */

@media (min-width: 768px) {
	.grid-container {
		grid-template-columns: 55px 1fr;
		grid-template-areas:
			"header header"
			"nav main";
	}

	main {
		display: grid;
		grid-template-columns: 50%;
	}

	.traffic,
	.social {
		grid-column: 1 / span 2;
	}

	.daily,
	.members,
	.message {
		grid-column: 1 / span 1;
	}

	.mobile,
	.activity,
	.settings {
		grid-column: 2 / span 1;
	}

	.widget-container-full {
		width: 90vw;
	}

	.widget-container-half {
		width: 45vw;
	}

	.nav-img {
		margin: 1em auto;
		width: 50%;
	}

	.social-image {
		margin: 1em auto;
		width: 7%;
	}
}