input {
    -webkit-appearance: none;
    position: relative;
    width: 100px;
    height: 35px;
    border-radius: 25px;
    background-color: #ccc;
    transition: background .3s;
    outline: none;
    cursor: pointer;
}
/* sets up the circle in the toggle switch */
input::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    background-color: rgb(255, 255, 255);
    transition: left .3s;
}

input::before {
    content: "On";
    background-color: rgb(255, 255, 255);
    float:left;
    

}

input:checked {
    background-color: #8d8ddb;

}

input:checked::after {
    left: 80%;
}
